.main {
  padding: 0 70px;
  background-color: #f3c1f8;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 0 30px;
  }
}

@media screen and (max-width: 425px) {
  .main {
    padding: 0;
  }
}
