.header {
  background-color: transparent;
  height: 74px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 18px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 16px 30px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding: 16px 14px;
  }
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__links {
  margin: 0;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 425px) {
  .header__links {
    gap: 14px;
  }
}

.header__link {
  height: 32px;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.4;
  text-decoration: none;
  text-align: center;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: inherit;
  border: none;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.header__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 425px) {
  .header__link {
    font-size: 10px;
    line-height: 1.6;
    padding: 5px;
    height: 26px;
  }
}

.header__link_sign-in {
  width: 76px;
  color: #fff;
  background-color: #000;
  border-radius: 3px;
}

@media screen and (max-width: 425px) {
  .header__link_sign-in {
    width: 54px;
  }
}
